#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Custom
#//////////////////////////
.DS_Store
dist/
test_games/
template_game/assets/
template_game/app

!/*/*/build/*/
/*/*/build/*/*
!/*/*/build/*/remote/

!/*/*/build/*/src/
/*/*/build/*/src/*
!/*/*/build/*/src/chunks

#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
/*/*/library/
/*/*/temp/
/*/*/local/
/*/*/profiles/
/*/*/settings/
#//////////////////////////
# NPM
#//////////////////////////
/*/*/node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
/*/*/.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
/*/*/.idea/



